site_name: Kwik
site_description: Fast, batteries-included, business-oriented, opinionated REST APIs framework
site_url: https://davide.mezzogori.com/kwik/
site_author: Davide Mezzogori
theme:
  name: material
  include_search_page: false
  search_index_only: true

  features:
    - navigation.instant
    - navigation.sections
    - navigation.tracking
    - search.suggest
    - search.highlight
    - content.tabs.link
  logo: img/logo.png
  favicon: img/favicon.ico
  language: en
repo_name: dmezzogori/kwik
repo_url: https://github.com/dmezzogori/kwik
edit_uri: ""
plugins:
  - search
  - minify:
      minify_html: true
nav:
  - Home: index.md
  - Introduction:
    - Endpoints: writing-endpoints.md
    - AutoCRUD: autocrud.md
  - Testing:
      - Overview: testing.md
      - Fixtures: testing-fixtures.md
copyright: Copyright &copy; 2025 Davide Mezzogori

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/dmezzogori
    - icon: fontawesome/brands/x-twitter
      link: https://x.com/dmezzogori
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/davidemezzogori/
  analytics:
    provider: google
    property: G-RT1L5SXNDC

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_css:
  - css/termynal.css
  - css/custom.css

extra_javascript:
  - js/termynal.js
  - js/custom.js
